#product-container {
    display: grid;
    grid-template-rows: auto auto; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
}




.box {
    border: 1px solid #ddd; 
    padding: 10px;

    
    img {

        min-width: 800px;
        max-width: 1000px;
        max-height: 500px;

    }
    h3 {
        font-size: 32px;
    }
    p{
        font-size: 32px;
    }
}


