
#product-container {
    display: grid;
    grid-template-rows: auto auto; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
}




.box {
    border: 1px solid #ddd; 
    padding: 10px;
    height: auto;
    overflow: hidden;
    width: 100%;

    
    img {
        min-width: calc(100% - 10px);
        height: 400px; 
        object-fit: cover;

    }
    h3 {
        font-size: 32px;
    }
    p{
        font-size: 32px;
    }
}


