.footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
/*
Lög­regl­an á Suður­landi er með viðbúnað við fang­elsið á Litla-Hrauni en sam­kvæmt heim­ild­um mbl.is þá brut­ust út átök milli fanga.

„Það var til­kynnt um lík­ams­rárás og einn aðili var flutt­ur á slysa­deild. Rann­sókn­in er á frum­stigi,“ seg­ir Jón Gunn­ar Þórólfs­son, aðstoðar­yf­ir­lög­regluþjónn á Suður­landi við mbl.is.

Jón Gunn­ar seg­ist ekki geta svarað því hvort átök hafi orðið á milli fanga eða hvort vopni hafi verið beitt. Hann seg­ist ekki vita um líðan þess aðila sem var flutt­ur á slysa­deild.

Páll Win­kel fang­els­is­mála­stjóri sagðist í sam­tali við mbl.is ekki getað tjáð sig um málið að svo stöddu en staðfesti að lög­regla væri á staðnum.

Frétt­in hef­ur verður upp­færð
*/